body{
    font:1em "TP sans",Tahoma, Arial;
    text-transform:uppercase;


}
/************* Main menu **************/

.asd{
    list-style:none ;
    padding:0;
    margin:30px;
    width:50px;
opacity:0.5 ;
    -moz-transition:opacity .3s ease-in-out;
    -webkit-transition:opacity .3s ease-in-out;
    -a-transition:opacity .3s ease-in-out;
    transition:opacity .3s ease-in-out;
}
.asd:hover{
    opacity:1 ;


}
.asd li{
    width:50px ;
    height:50px;
    overflow:hidden ;
    -moz-transition:width .2s ease-in-out, height .2s ease-in-out 0.2s;
    -webkit-transition:width .2s ease-in-out, height .2s ease-in-out 0.2s;
    -a-transition:width .2s ease-in-out, height .2s ease-in-out 0.2s;
    transition:width .2s ease-in-out, height .2s ease-in-out 0.2s;


}
.asd li:hover{
height:175px;
width:200px;





}
.asd li a{
    display:block;
    width:200px;
    height:40px ;
    background: #ccc;
    cursor:pointer ;
    margin:1px;
    line-height:40px ;
    color:#fff;
    padding-left:30px;
}

.asd li a:hover{
    background: #2fc5ff;


}
.asd li a:first-child{
font-size:1.1em ;
height:50px;
    line-height:50px ;
    position:relative;
    text-indent:36px;


}
.asd li a:first-child::before{
    content:"";
    position:absolute;
    width:32px;
    height:32px;
    display:block;
    top:9px;
    left:9px;



}


.main a:first-child::before{
    background: url(http://testing.com/img/home.png) center no-repeat;

}
.satting a:first-child::before{
    background: url(http://testing.com/img/settings.png) center no-repeat;
}
.link a:first-child::before{
    background: url(http://testing.com/img/link.png) center no-repeat;
}
.search a:first-child::before{
    background: url(http://testing.com/img/search.png) center no-repeat;
}
#image{
    display:block;
    position:fixed;
    width:400px;
    height:200px;
    background:url(http://lorempixel.com/400/200/food) ;
    margin-left:450px ;
    margin-top:50px ;

}